---
---

<a class="z-50" href="/">
  <div class="flex cursor-pointer items-center gap-2">
    <div class="relative sm:inline-flex">
      <span class="font-squartiqa text-2xl text-primary-600"> CDi</span>
    </div>
  </div>
</a>
