---
import NavItem from "./NavItem.astro";
---

<div class="z-10 hidden sm:flex md:absolute md:inset-0 md:justify-center">
  <nav class="flex items-center md:gap-2">
    <NavItem href="/">Home</NavItem>
    <NavItem href="#skills">Skills</NavItem>
    <NavItem href="#education">Education</NavItem>
    <NavItem href="/about">About</NavItem>
    <NavItem href="/projects">Projects</NavItem>
    <NavItem href="/certificates">Certificates</NavItem>
    <NavItem href="/stack">Stack</NavItem>
    <NavItem href="#contact">Contact</NavItem>
  </nav>
</div>
