---
import NavItem from "./NavItem.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<header
  class="fixed top-0 z-50 flex w-full items-center justify-between bg-neutral-100 px-4 py-[10px] text-neutral-1000 dark:bg-neutral-1000 dark:text-neutral-100 print:hidden sm:p-4 sm:px-6"
>
  <a href="/">
    <div class="z-50 flex cursor-pointer items-center gap-2">
      <div class="relative mr-3 hidden sm:inline-flex">
        <span class="font-squartiqa text-2xl text-primary-600"> CDi</span>
      </div>
    </div>
  </a>
  <div class="z-10 hidden sm:flex md:absolute md:inset-0 md:justify-center">
    <nav class="flex items-center md:gap-2">
      <NavItem href="/">Home</NavItem>
      <NavItem href="/about">About</NavItem>
      <NavItem href="/projects">Projects</NavItem>
      <NavItem href="/certificates">Certificates</NavItem>
      <NavItem href="/stack">Stack</NavItem>
      <NavItem href="/contact">Contact</NavItem>
    </nav>
  </div>
  <ThemeToggle />
</header>
