---
import Cards from "@components/Cards.astro";
import Contact from "@components/home/Contact.astro";
import Education from "@components/home/Education.astro";
import Hero from "@components/home/Hero.astro";
import skills from "@content/skillsData";
import Layout from "../layouts/Layout.astro";

const itemsNumber =
  "grid-cols-3 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-5";
---

<Layout title="Welcome to Astro.">
  <main>
    <Hero />

    <!-- Skills -->
    <div id="skills">
      <Cards props={skills} display={itemsNumber} />
    </div>
    <!-- Education -->
    <Education />

    <!-- Contact -->
    <Contact id="contact" />
  </main>
</Layout>

<style></style>
